# Import libraries

In [248]:
import pandas as pd

# Data cleaning player stats

# import csv

In [249]:
players_stats = pd.read_csv('data/players_stats_raw.csv',sep = ';')
players_stats.drop(axis=1,columns='Unnamed: 0',inplace=True)

In [278]:
players_stats_raw = pd.read_csv('data/players_stats_raw.csv',sep = ';')
players_stats_raw

,Unnamed: 0,Date,Player team,Opponent,T1,T2,Map,K - D,+/-,Rating2.0,player,event_type,event_tier
0,0,5/9/19,Vitality (10),AVANGAR (16),d2,20 - 17,3,1.04,NaN,NaN,11893/zywoo,major,S
1,1,5/9/19,Vitality (16),AVANGAR (11),inf,28 - 12,16,1.63,NaN,NaN,11893/zywoo,major,S
2,2,5/9/19,Vitality (9),AVANGAR (16),mrg,12 - 18,-6,0.90,NaN,NaN,11893/zywoo,major,S
3,3,31/8/19,Vitality (16),MOUZ (10),mrg,21 - 17,4,1.52,NaN,NaN,11893/zywoo,major,S
4,4,31/8/19,Vitality (16),MOUZ (5),vtg,19 - 12,7,1.44,NaN,NaN,11893/zywoo,major,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56467,90,22/3/19,Lucid Dream (16),NASR (1),d2,9 - 8,1,1.17,NaN,NaN,13461/wannafly,online,B
56468,91,22/3/19,Lucid Dream (16),NASR (9),nuke,23 - 11,12,1.60,NaN,NaN,13461/wannafly,online,B
56469,92,22/3/19,Lucid Dream (8),NASR (16),ovp,9 - 17,-8,0.79,NaN,NaN,13461/wannafly,online,B
56470,93,22/3/19,Lucid Dream (16),Entity (1),mrg,13 - 5,8,1.23,NaN,NaN,13461/wannafly,online,B
56471,94,22/3/19,Lucid Dream (16),Entity (5),nuke,18 - 11,7,1.54,NaN,NaN,13461/wannafly,online,B

## Collumns names

In [250]:
players_stats.columns = players_stats.columns.str.lower()

In [251]:
players_stats

,date,player team,opponent,t1,t2,map,k - d,+/-,rating2.0,player,event_type,event_tier
0,5/9/19,Vitality (10),AVANGAR (16),d2,20 - 17,3,1.04,NaN,NaN,11893/zywoo,major,S
1,5/9/19,Vitality (16),AVANGAR (11),inf,28 - 12,16,1.63,NaN,NaN,11893/zywoo,major,S
2,5/9/19,Vitality (9),AVANGAR (16),mrg,12 - 18,-6,0.90,NaN,NaN,11893/zywoo,major,S
3,31/8/19,Vitality (16),MOUZ (10),mrg,21 - 17,4,1.52,NaN,NaN,11893/zywoo,major,S
4,31/8/19,Vitality (16),MOUZ (5),vtg,19 - 12,7,1.44,NaN,NaN,11893/zywoo,major,S
...,...,...,...,...,...,...,...,...,...,...,...,...
56467,22/3/19,Lucid Dream (16),NASR (1),d2,9 - 8,1,1.17,NaN,NaN,13461/wannafly,online,B
56468,22/3/19,Lucid Dream (16),NASR (9),nuke,23 - 11,12,1.60,NaN,NaN,13461/wannafly,online,B
56469,22/3/19,Lucid Dream (8),NASR (16),ovp,9 - 17,-8,0.79,NaN,NaN,13461/wannafly,online,B
56470,22/3/19,Lucid Dream (16),Entity (1),mrg,13 - 5,8,1.23,NaN,NaN,13461/wannafly,online,B
56471,22/3/19,Lucid Dream (16),Entity (5),nuke,18 - 11,7,1.54,NaN,NaN,13461/wannafly,online,B

## Genaral cleaning

In [252]:
players_stats[['player_team','s1']] = players_stats['player team'].str.split('(',1,expand=True)
players_stats[['opponent','s2']] = players_stats['opponent'].str.split('(',1,expand=True)
players_stats[['id','player']] = players_stats['player'].str.split('/',1,expand=True)
players_stats['map'] = players_stats['t1']
players_stats['rating2.0'] = players_stats['k - d']
players_stats.drop(['player team','t1','t2','k - d','+/-'],axis = 1, inplace = True)

## Rearange collumns

In [253]:
players_stats = players_stats[['id','player','player_team','s1','opponent','s2','rating2.0','map','date','event_type','event_tier']]

In [254]:
print(players_stats.dtypes)
players_stats.head()

id              object
player          object
player_team     object
s1              object
opponent        object
s2              object
rating2.0      float64
map             object
date            object
event_type      object
event_tier      object
dtype: object

,id,player,player_team,s1,opponent,s2,rating2.0,map,date,event_type,event_tier
0,11893,zywoo,Vitality,10),AVANGAR,16),1.04,d2,5/9/19,major,S
1,11893,zywoo,Vitality,16),AVANGAR,11),1.63,inf,5/9/19,major,S
2,11893,zywoo,Vitality,9),AVANGAR,16),0.90,mrg,5/9/19,major,S
3,11893,zywoo,Vitality,16),MOUZ,10),1.52,mrg,31/8/19,major,S
4,11893,zywoo,Vitality,16),MOUZ,5),1.44,vtg,31/8/19,major,S

## Clean S1 and S2 collumns

### remove ')'

In [255]:
players_stats['s1'] = players_stats['s1'].str[:-1]
players_stats['s2'] = players_stats['s2'].str[:-1]

## change type

In [256]:
players_stats = players_stats.astype({'s1':int,'s2':int})
players_stats['date'] = pd.to_datetime(players_stats['date'])

## Clean str collumns

In [257]:
players_stats['player_team']=players_stats['player_team'].str.strip()
players_stats['opponent']=players_stats['opponent'].str.strip()
players_stats['map']=players_stats['map'].str.strip()
players_stats['event_type']=players_stats['event_type'].str.strip()
players_stats['event_tier']=players_stats['event_tier'].str.strip()

# Data cleaning ranking

## Import

In [258]:
team_rank = pd.read_csv('data/team_rankings.csv',sep = ';')

## Rename

In [259]:
team_rank.rename(columns={'Unnamed: 0':'rank'},inplace=True)

# Date

In [260]:
team_rank = team_rank[team_rank['date']!='2019/september/31'] # Sep 31 doesnt exist
team_rank['date'] = pd.to_datetime(team_rank['date'])

# Joining both DataFrames

In [261]:
def rank_time(x,y):
    if len(team_rank[(team_rank['teams'] == x) & (team_rank['date'] < y)].tail(1)['rank']) == 1:
        return int(team_rank[(team_rank['teams'] == x) & (team_rank['date'] < y)].tail(1)['rank']+1)

In [262]:
players_stats['team_rank'] = players_stats.apply(lambda x : rank_time(x['player_team'],x['date']),axis=1)
players_stats['opponent_rank'] = players_stats.apply(lambda x : rank_time(x['opponent'],x['date']),axis=1)

## Fill na with 35, for non ranking teams

In [263]:
players_stats [['team_rank','opponent_rank']] = players_stats [['team_rank','opponent_rank']].fillna(35)

## Rank difference

In [264]:
players_stats['rank_difference'] = players_stats['team_rank'] - players_stats['opponent_rank']

## Favorite or Underdog

In [265]:
players_stats['favorite'] = players_stats['rank_difference'] < 0

## Round difference

In [266]:
players_stats['round_difference'] = players_stats['s1'] - players_stats['s2']

## Win

In [267]:
players_stats['win'] = players_stats['round_difference'] > 0

## Team ratting

In [268]:
stats = list()
for player in list(players_stats['player'].unique()):
    rating_groupby = players_stats.query(f'player !="{player}"').groupby(by=['date','player_team','opponent','map']).mean().rename({'rating2.0':'team_rating'},axis=1)
    stats.append(pd.merge(players_stats.query(f'player == "{player}"'),rating_groupby['team_rating'],left_on=['date','player_team','opponent','map'],right_on=['date','player_team','opponent','map']))

In [269]:
players_stats = pd.concat(stats)

# Remove duplicates

In [289]:
players_stats = players_stats.drop_duplicates(['id','player','player_team','s1','opponent','s2','rating2.0','map','date'],keep='first')

# Export to csv

In [290]:
players_stats.to_csv('data/players_stats.csv',sep = ';',index = False)