# Import libraries

In [1]:
import pandas as pd

# import csv

In [13]:
players_stats = pd.read_csv('data/players_stats_raw.csv',sep = ';')
players_stats.drop(axis=1,columns='Unnamed: 0',inplace=True)

# Data cleaning

## Collumns names

In [14]:
players_stats.columns = players_stats.columns.str.lower()

In [15]:
players_stats

,date,player team,opponent,t1,t2,map,k - d,+/-,rating2.0,player,event_type,event_tier
0,5/9/19,Vitality (10),AVANGAR (16),d2,20 - 17,3,1.04,NaN,NaN,11893/zywoo,major,S
1,5/9/19,Vitality (16),AVANGAR (11),inf,28 - 12,16,1.63,NaN,NaN,11893/zywoo,major,S
2,5/9/19,Vitality (9),AVANGAR (16),mrg,12 - 18,-6,0.90,NaN,NaN,11893/zywoo,major,S
3,31/8/19,Vitality (16),MOUZ (10),mrg,21 - 17,4,1.52,NaN,NaN,11893/zywoo,major,S
4,31/8/19,Vitality (16),MOUZ (5),vtg,19 - 12,7,1.44,NaN,NaN,11893/zywoo,major,S
...,...,...,...,...,...,...,...,...,...,...,...,...
56467,22/3/19,Lucid Dream (16),NASR (1),d2,9 - 8,1,1.17,NaN,NaN,13461/wannafly,online,B
56468,22/3/19,Lucid Dream (16),NASR (9),nuke,23 - 11,12,1.60,NaN,NaN,13461/wannafly,online,B
56469,22/3/19,Lucid Dream (8),NASR (16),ovp,9 - 17,-8,0.79,NaN,NaN,13461/wannafly,online,B
56470,22/3/19,Lucid Dream (16),Entity (1),mrg,13 - 5,8,1.23,NaN,NaN,13461/wannafly,online,B
56471,22/3/19,Lucid Dream (16),Entity (5),nuke,18 - 11,7,1.54,NaN,NaN,13461/wannafly,online,B

## Genaral cleaning

In [16]:
players_stats[['player_team','s1']] = players_stats['player team'].str.split('(',1,expand=True)
players_stats[['opponent','s2']] = players_stats['opponent'].str.split('(',1,expand=True)
players_stats[['id','player']] = players_stats['player'].str.split('/',1,expand=True)
players_stats['map'] = players_stats['t1']
players_stats['rating2.0'] = players_stats['k - d']
players_stats.drop(['player team','t1','t2','k - d','+/-'],axis = 1, inplace = True)

## Rearange collumns

In [17]:
players_stats = players_stats[['id','player','player_team','s1','opponent','s2','rating2.0','map','date','event_type','event_tier']]

In [22]:
print(players_stats.dtypes)
players_stats.head()

id                      int32
player                 object
player_team            object
s1                      int32
opponent               object
s2                      int32
rating2.0             float64
map                    object
date           datetime64[ns]
event_type             object
event_tier             object
dtype: object

,id,player,player_team,s1,opponent,s2,rating2.0,map,date,event_type,event_tier
0,11893,zywoo,Vitality,10,AVANGAR,16,1.04,d2,2019-05-09,major,S
1,11893,zywoo,Vitality,16,AVANGAR,11,1.63,inf,2019-05-09,major,S
2,11893,zywoo,Vitality,9,AVANGAR,16,0.90,mrg,2019-05-09,major,S
3,11893,zywoo,Vitality,16,MOUZ,10,1.52,mrg,2019-08-31,major,S
4,11893,zywoo,Vitality,16,MOUZ,5,1.44,vtg,2019-08-31,major,S

## Clean S1 and S2 collumns

### remove ')'

In [19]:
players_stats['s1'] = players_stats['s1'].str[:-1]
players_stats['s2'] = players_stats['s2'].str[:-1]

## change type

In [20]:
players_stats = players_stats.astype({'id':int,'s1':int,'s2':int})
players_stats['date'] = pd.to_datetime(players_stats['date'])

## Clean str collumns

In [26]:
players_stats['player_team']=players_stats['player_team'].str.strip()
players_stats['opponent']=players_stats['opponent'].str.strip()
players_stats['map']=players_stats['map'].str.strip()
players_stats['event_type']=players_stats['event_type'].str.strip()
players_stats['event_tier']=players_stats['event_tier'].str.strip()

# Export to csv

In [29]:
players_stats.to_csv('data/players_stats.csv',sep = ';')