# Import libraries

In [37]:
import pandas as pd

# Data cleaning player stats

# import csv

In [38]:
players_stats = pd.read_csv('data/players_stats_raw.csv',sep = ';')
players_stats.drop(axis=1,columns='Unnamed: 0',inplace=True)

## Collumns names

In [39]:
players_stats.columns = players_stats.columns.str.lower()

In [40]:
players_stats

,date,player team,opponent,t1,t2,map,k - d,+/-,rating2.0,player,event_type,event_tier
0,5/9/19,Vitality (10),AVANGAR (16),d2,20 - 17,3,1.04,NaN,NaN,11893/zywoo,major,S
1,5/9/19,Vitality (16),AVANGAR (11),inf,28 - 12,16,1.63,NaN,NaN,11893/zywoo,major,S
2,5/9/19,Vitality (9),AVANGAR (16),mrg,12 - 18,-6,0.90,NaN,NaN,11893/zywoo,major,S
3,31/8/19,Vitality (16),MOUZ (10),mrg,21 - 17,4,1.52,NaN,NaN,11893/zywoo,major,S
4,31/8/19,Vitality (16),MOUZ (5),vtg,19 - 12,7,1.44,NaN,NaN,11893/zywoo,major,S
...,...,...,...,...,...,...,...,...,...,...,...,...
56467,22/3/19,Lucid Dream (16),NASR (1),d2,9 - 8,1,1.17,NaN,NaN,13461/wannafly,online,B
56468,22/3/19,Lucid Dream (16),NASR (9),nuke,23 - 11,12,1.60,NaN,NaN,13461/wannafly,online,B
56469,22/3/19,Lucid Dream (8),NASR (16),ovp,9 - 17,-8,0.79,NaN,NaN,13461/wannafly,online,B
56470,22/3/19,Lucid Dream (16),Entity (1),mrg,13 - 5,8,1.23,NaN,NaN,13461/wannafly,online,B
56471,22/3/19,Lucid Dream (16),Entity (5),nuke,18 - 11,7,1.54,NaN,NaN,13461/wannafly,online,B

## Genaral cleaning

In [41]:
players_stats[['player_team','s1']] = players_stats['player team'].str.split('(',1,expand=True)
players_stats[['opponent','s2']] = players_stats['opponent'].str.split('(',1,expand=True)
players_stats[['id','player']] = players_stats['player'].str.split('/',1,expand=True)
players_stats['map'] = players_stats['t1']
players_stats['rating2.0'] = players_stats['k - d']
players_stats.drop(['player team','t1','t2','k - d','+/-'],axis = 1, inplace = True)

## Rearange collumns

In [42]:
players_stats = players_stats[['id','player','player_team','s1','opponent','s2','rating2.0','map','date','event_type','event_tier']]

In [43]:
print(players_stats.dtypes)
players_stats.head()

id              object
player          object
player_team     object
s1              object
opponent        object
s2              object
rating2.0      float64
map             object
date            object
event_type      object
event_tier      object
dtype: object

,id,player,player_team,s1,opponent,s2,rating2.0,map,date,event_type,event_tier
0,11893,zywoo,Vitality,10),AVANGAR,16),1.04,d2,5/9/19,major,S
1,11893,zywoo,Vitality,16),AVANGAR,11),1.63,inf,5/9/19,major,S
2,11893,zywoo,Vitality,9),AVANGAR,16),0.90,mrg,5/9/19,major,S
3,11893,zywoo,Vitality,16),MOUZ,10),1.52,mrg,31/8/19,major,S
4,11893,zywoo,Vitality,16),MOUZ,5),1.44,vtg,31/8/19,major,S

## Clean S1 and S2 collumns

### remove ')'

In [44]:
players_stats['s1'] = players_stats['s1'].str[:-1]
players_stats['s2'] = players_stats['s2'].str[:-1]

## change type

In [45]:
players_stats = players_stats.astype({'s1':int,'s2':int})
players_stats['date'] = pd.to_datetime(players_stats['date'])

## Clean str collumns

In [46]:
players_stats['player_team']=players_stats['player_team'].str.strip()
players_stats['opponent']=players_stats['opponent'].str.strip()
players_stats['map']=players_stats['map'].str.strip()
players_stats['event_type']=players_stats['event_type'].str.strip()
players_stats['event_tier']=players_stats['event_tier'].str.strip()

# Analisys

In [49]:
players_stats[players_stats['player'] == 'zywoo']

,id,player,player_team,s1,opponent,s2,rating2.0,map,date,event_type,event_tier
0,11893,zywoo,Vitality,10,AVANGAR,16,1.04,d2,2019-05-09,major,S
1,11893,zywoo,Vitality,16,AVANGAR,11,1.63,inf,2019-05-09,major,S
2,11893,zywoo,Vitality,9,AVANGAR,16,0.90,mrg,2019-05-09,major,S
3,11893,zywoo,Vitality,16,MOUZ,10,1.52,mrg,2019-08-31,major,S
4,11893,zywoo,Vitality,16,MOUZ,5,1.44,vtg,2019-08-31,major,S
...,...,...,...,...,...,...,...,...,...,...,...
32943,11893,zywoo,Vitality,16,AGO,11,1.95,cch,2019-01-29,online,B
32944,11893,zywoo,Vitality,16,Valiance,11,1.44,mrg,2019-08-01,online,B
32945,11893,zywoo,Vitality,22,Valiance,20,1.24,inf,2019-08-01,online,B
32946,11893,zywoo,Vitality,16,Smoke Criminals,7,1.39,mrg,2019-08-01,online,B
32947,11893,zywoo,Vitality,16,Smoke Criminals,14,0.92,inf,2019-08-01,online,B

# Data cleaning ranking

## Import

In [4]:
team_rank = pd.read_csv('data/team_rankings.csv',sep = ';')

,Unnamed: 0,0,1,2,3,4,teams,date
0,0,Xyp9x,dupreeh,gla1ve,device,Magisk,Astralis,2019/january/7
1,1,Edward,Zeus,flamie,s1mple,electroNic,Natus Vincere,2019/january/7
2,2,nitr0,NAF,EliGE,Stewie2K,Twistzz,Liquid,2019/january/7
3,3,FalleN,tarik,fer,coldzera,TACO,MIBR,2019/january/7
4,4,oskar,chrisJ,suNny,STYKO,ropz,MOUZ,2019/january/7
...,...,...,...,...,...,...,...,...
1585,25,NBK-,valde,Aleksib,ISSAA,mantuu,OG,2019/december/30
1586,26,Snax,MICHU,snatchie,phr,Vegi,ex-Virtus.pro,2019/december/30
1587,27,Spiidi,denis,k1to,faveN,NaN,Sprout,2019/december/30
1588,28,loWel,EasTor,steel,alex,mopoz,Movistar Riders,2019/december/30
1589,29,sAw,ZOREE,sLowi,doto,hoody,HAVU,2019/december/30

## Rename

In [7]:
team_rank.rename(columns={'Unnamed: 0':'rank'},inplace=True)

# Date

In [22]:
team_rank = team_rank[team_rank['date']!='2019/september/31'] # Sep 31 doesnt exist
team_rank['date'] = pd.to_datetime(team_rank['date'])

,rank,0,1,2,3,4,teams,date
0,0,Xyp9x,dupreeh,gla1ve,device,Magisk,Astralis,2019-01-07
1,1,Edward,Zeus,flamie,s1mple,electroNic,Natus Vincere,2019-01-07
2,2,nitr0,NAF,EliGE,Stewie2K,Twistzz,Liquid,2019-01-07
3,3,FalleN,tarik,fer,coldzera,TACO,MIBR,2019-01-07
4,4,oskar,chrisJ,suNny,STYKO,ropz,MOUZ,2019-01-07
...,...,...,...,...,...,...,...,...
1585,25,NBK-,valde,Aleksib,ISSAA,mantuu,OG,2019-12-30
1586,26,Snax,MICHU,snatchie,phr,Vegi,ex-Virtus.pro,2019-12-30
1587,27,Spiidi,denis,k1to,faveN,NaN,Sprout,2019-12-30
1588,28,loWel,EasTor,steel,alex,mopoz,Movistar Riders,2019-12-30
1589,29,sAw,ZOREE,sLowi,doto,hoody,HAVU,2019-12-30

# Joining both DataFrames

In [137]:
def rank_time(x,y):
    if len(team_rank[(team_rank['teams'] == x) & (team_rank['date'] < y)].tail(1)['rank']) == 1:
        return int(team_rank[(team_rank['teams'] == x) & (team_rank['date'] < y)].tail(1)['rank']+1)

In [138]:
players_stats['team_rank'] = players_stats.apply(lambda x : rank_time(x['player_team'],x['date']),axis=1)
players_stats['opponent_rank'] = players_stats.apply(lambda x : rank_time(x['opponent'],x['date']),axis=1)

In [139]:
players_stats

,id,player,player_team,s1,opponent,s2,rating2.0,map,date,event_type,event_tier,team_rank,opponent_rank
0,11893,zywoo,Vitality,10,AVANGAR,16,1.04,d2,2019-05-09,major,S,11.0,14.0
1,11893,zywoo,Vitality,16,AVANGAR,11,1.63,inf,2019-05-09,major,S,11.0,14.0
2,11893,zywoo,Vitality,9,AVANGAR,16,0.90,mrg,2019-05-09,major,S,11.0,14.0
3,11893,zywoo,Vitality,16,MOUZ,10,1.52,mrg,2019-08-31,major,S,2.0,9.0
4,11893,zywoo,Vitality,16,MOUZ,5,1.44,vtg,2019-08-31,major,S,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56467,13461,wannafly,Lucid Dream,16,NASR,1,1.17,d2,2019-03-22,online,B,NaN,NaN
56468,13461,wannafly,Lucid Dream,16,NASR,9,1.60,nuke,2019-03-22,online,B,NaN,NaN
56469,13461,wannafly,Lucid Dream,8,NASR,16,0.79,ovp,2019-03-22,online,B,NaN,NaN
56470,13461,wannafly,Lucid Dream,16,Entity,1,1.23,mrg,2019-03-22,online,B,NaN,NaN
56471,13461,wannafly,Lucid Dream,16,Entity,5,1.54,nuke,2019-03-22,online,B,NaN,NaN

In [118]:
team_rank

,rank,0,1,2,3,4,teams,date
0,0,Xyp9x,dupreeh,gla1ve,device,Magisk,Astralis,2019-01-07
1,1,Edward,Zeus,flamie,s1mple,electroNic,Natus Vincere,2019-01-07
2,2,nitr0,NAF,EliGE,Stewie2K,Twistzz,Liquid,2019-01-07
3,3,FalleN,tarik,fer,coldzera,TACO,MIBR,2019-01-07
4,4,oskar,chrisJ,suNny,STYKO,ropz,MOUZ,2019-01-07
...,...,...,...,...,...,...,...,...
1585,25,NBK-,valde,Aleksib,ISSAA,mantuu,OG,2019-12-30
1586,26,Snax,MICHU,snatchie,phr,Vegi,ex-Virtus.pro,2019-12-30
1587,27,Spiidi,denis,k1to,faveN,NaN,Sprout,2019-12-30
1588,28,loWel,EasTor,steel,alex,mopoz,Movistar Riders,2019-12-30
1589,29,sAw,ZOREE,sLowi,doto,hoody,HAVU,2019-12-30

# Export to csv

In [11]:
players_stats.to_csv('data/players_stats.csv',sep = ';')