# Pycaret modeling

In [2]:
import pandas as pd
from pycaret.regression import *

In [14]:
players_stats = pd.read_csv('data/players_stats.csv' ,sep=';')

In [15]:
players_stats.head(5)

,id,player,player_team,s1,opponent,s2,rating2.0_player,map,date,event_type,event_tier,team_rank,opponent_rank,rank_difference,favorite,round_difference,win,rating2.0_team
0,11893,zywoo,Vitality,10,AVANGAR,16,1.04,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
1,7322,apex,Vitality,10,AVANGAR,16,0.93,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
2,8184,alex,Vitality,10,AVANGAR,16,1.00,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
3,7168,nbk,Vitality,10,AVANGAR,16,0.34,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
4,7169,rpk,Vitality,10,AVANGAR,16,0.52,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766

In [16]:
players_stats.drop(['opponent','player','player_team'],axis = 1,inplace = True)

In [17]:
players_stats = players_stats.astype({'id':str})
players_stats['date'] = pd.to_datetime(players_stats['date'])

In [18]:
players_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56472 entries, 0 to 56471
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                56472 non-null  object
 1   s1                56472 non-null  int64
 2   s2                56472 non-null  int64
 3   rating2.0_player  56472 non-null  float64
 4   map               56472 non-null  object
 5   date              56472 non-null  datetime64[ns]
 6   event_type        56472 non-null  object
 7   event_tier        56472 non-null  object
 8   team_rank         56472 non-null  float64
 9   opponent_rank     56472 non-null  float64
 10  rank_difference   56472 non-null  float64
 11  favorite          56472 non-null  bool
 12  round_difference  56472 non-null  int64
 13  win               56472 non-null  bool
 14  rating2.0_team    56472 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 5.7+ MB

# General model

In [43]:
model = setup(data = players_stats,target='rating2.0_player',session_id=42,normalize=True)

In [44]:
best = compare_models()

In [23]:
tune_players = tune_model(best)

In [24]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [25]:
players_stats_predicted = predict_model(tune_players, data = players_stats)
players_stats_predicted.head(150)

,id,s1,s2,rating2.0_player,map,date,event_type,event_tier,team_rank,opponent_rank,rank_difference,favorite,round_difference,win,rating2.0_team,Label
0,11893,10,16,1.04,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,0.934012
1,7322,10,16,0.93,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,0.719354
2,8184,10,16,1.00,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,0.716131
3,7168,10,16,0.34,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,0.719354
4,7169,10,16,0.52,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,0.719354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,11893,7,16,0.91,mrg,2019-02-24,lan,A,12.0,6.0,6.0,False,-9,False,0.924,1.098866
146,7322,7,16,0.98,mrg,2019-02-24,lan,A,12.0,6.0,6.0,False,-9,False,0.924,0.884208
147,8184,7,16,0.96,mrg,2019-02-24,lan,A,12.0,6.0,6.0,False,-9,False,0.924,0.880985
148,7168,7,16,1.07,mrg,2019-02-24,lan,A,12.0,6.0,6.0,False,-9,False,0.924,0.884208
149,7169,7,16,0.70,mrg,2019-02-24,lan,A,12.0,6.0,6.0,False,-9,False,0.924,0.884208

# Model zywoo

In [27]:
zywoo = players_stats.query('id == "11893"')
zywoo

,id,s1,s2,rating2.0_player,map,date,event_type,event_tier,team_rank,opponent_rank,rank_difference,favorite,round_difference,win,rating2.0_team
0,11893,10,16,1.04,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
5,11893,10,16,1.04,d2,2019-05-09,big_events,S,11.0,14.0,-3.0,True,-6,False,0.766
10,11893,10,16,1.04,d2,2019-05-09,lan,A,11.0,14.0,-3.0,True,-6,False,0.766
15,11893,16,11,1.63,inf,2019-05-09,major,S,11.0,14.0,-3.0,True,5,True,1.176
20,11893,16,11,1.63,inf,2019-05-09,big_events,S,11.0,14.0,-3.0,True,5,True,1.176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33297,11893,16,11,1.95,cch,2019-01-29,online,B,19.0,35.0,-16.0,True,5,True,1.206
33302,11893,16,11,1.44,mrg,2019-08-01,online,B,2.0,17.0,-15.0,True,5,True,1.130
33307,11893,22,20,1.24,inf,2019-08-01,online,B,2.0,17.0,-15.0,True,2,True,1.030
33312,11893,16,7,1.39,mrg,2019-08-01,online,B,2.0,35.0,-33.0,True,9,True,1.266
33317,11893,16,14,0.92,inf,2019-08-01,online,B,2.0,35.0,-33.0,True,2,True,1.102

In [29]:
model_zywoo = setup(data = zywoo,target='rating2.0_player',session_id=42,normalize=True)

In [30]:
best_zywoo = compare_models()

In [31]:
evaluate_model(best_zywoo)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [32]:
tune = tune_model(best_zywoo)

In [33]:
zywoo_predicted = predict_model(tune, data = zywoo)
zywoo_predicted.head(150)

,id,s1,s2,rating2.0_player,map,date,event_type,event_tier,team_rank,opponent_rank,rank_difference,favorite,round_difference,win,rating2.0_team,Label
0,11893,10,16,1.04,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766,1.064326
5,11893,10,16,1.04,d2,2019-05-09,big_events,S,11.0,14.0,-3.0,True,-6,False,0.766,1.068819
10,11893,10,16,1.04,d2,2019-05-09,lan,A,11.0,14.0,-3.0,True,-6,False,0.766,1.068819
15,11893,16,11,1.63,inf,2019-05-09,major,S,11.0,14.0,-3.0,True,5,True,1.176,1.420073
20,11893,16,11,1.63,inf,2019-05-09,big_events,S,11.0,14.0,-3.0,True,5,True,1.176,1.423096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4425,11893,11,16,1.21,d2,2019-07-21,lan,A,2.0,1.0,1.0,False,-5,False,0.954,1.095193
4430,11893,16,9,1.31,ovp,2019-07-20,big_events,S,2.0,14.0,-12.0,True,7,True,1.206,1.389918
4435,11893,16,9,1.31,ovp,2019-07-20,lan,A,2.0,14.0,-12.0,True,7,True,1.206,1.391810
4440,11893,12,16,1.57,d2,2019-07-20,big_events,S,2.0,14.0,-12.0,True,-4,False,0.950,1.243977
4445,11893,12,16,1.57,d2,2019-07-20,lan,A,2.0,14.0,-12.0,True,-4,False,0.950,1.238020

## Alex

In [35]:
alex = players_stats.query('id == "11893"')
alex

,id,s1,s2,rating2.0_player,map,date,event_type,event_tier,team_rank,opponent_rank,rank_difference,favorite,round_difference,win,rating2.0_team
0,11893,10,16,1.04,d2,2019-05-09,major,S,11.0,14.0,-3.0,True,-6,False,0.766
5,11893,10,16,1.04,d2,2019-05-09,big_events,S,11.0,14.0,-3.0,True,-6,False,0.766
10,11893,10,16,1.04,d2,2019-05-09,lan,A,11.0,14.0,-3.0,True,-6,False,0.766
15,11893,16,11,1.63,inf,2019-05-09,major,S,11.0,14.0,-3.0,True,5,True,1.176
20,11893,16,11,1.63,inf,2019-05-09,big_events,S,11.0,14.0,-3.0,True,5,True,1.176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33297,11893,16,11,1.95,cch,2019-01-29,online,B,19.0,35.0,-16.0,True,5,True,1.206
33302,11893,16,11,1.44,mrg,2019-08-01,online,B,2.0,17.0,-15.0,True,5,True,1.130
33307,11893,22,20,1.24,inf,2019-08-01,online,B,2.0,17.0,-15.0,True,2,True,1.030
33312,11893,16,7,1.39,mrg,2019-08-01,online,B,2.0,35.0,-33.0,True,9,True,1.266
33317,11893,16,14,0.92,inf,2019-08-01,online,B,2.0,35.0,-33.0,True,2,True,1.102

In [41]:
model_alex  = setup(data = alex,target='rating2.0_player',session_id=42,normalize=True)

In [39]:
predict_model = compare_models()

In [40]:
evaluate_model(predict_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param